<a href="https://colab.research.google.com/github/abdullah2643/CSE234_191-15-2643_Fall-20_Python/blob/main/week_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF statement

In [1]:
grade=40
if grade>=40:
  print("passed")

passed

If else statement

In [2]:
grade=40
if grade>=40:
  print("passed")
else:
  print("fail")

passed

Conditional expression

In [3]:
result=('Passed' if grade >= 40 else 'Failed')

In [4]:
print(result)

Passed

IF...elif....else statement

In [5]:
grade = 77

if grade >= 80:
    print('A')
elif grade >= 70:
    print('B')
elif grade >= 60:
    print('C')
elif grade >= 50:
    print('D')
else:
    print('F')

B

In [7]:
grade = 90

if grade >= 80:
    print('A+')
elif grade >= 70:
    print('B+')
elif grade >= 60:
    print('C+')
elif grade >= 50:
    print('D+')
else:
    print('F')

A+

While Statement

In [8]:
number=5

while (number<18):
  print(number, end=" ")
  number+=1

5 6 7 8 9 10 11 12 13 14 15 16 17

while statement to find the first power of 3 larger than 50:

In [9]:
product=3

while product<=50:
  product = product*3

In [12]:
print(product)

81

For statement

In [13]:
for character in "Mukit":
  print(character, end=" ")

M u k i t

In [14]:
for counter in range(13):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12

In [16]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

In [17]:
for number in range(598,610):
  print(number, end=" ")

598 599 600 601 602 603 604 605 606 607 608 609

In [18]:
for number in range(0,15,3):
  print(number, end=" ")

0 3 6 9 12

In [19]:
for i in range(1,8):
  print(number,"X",i,"=",number*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84

In [20]:
for left in range(12):
    for right in range(left,12):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7] [0|8] [0|9] [0|10] [0|11]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7] [1|8] [1|9] [1|10] [1|11]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7] [2|8] [2|9] [2|10] [2|11]
[3|3] [3|4] [3|5] [3|6] [3|7] [3|8] [3|9] [3|10] [3|11]
[4|4] [4|5] [4|6] [4|7] [4|8] [4|9] [4|10] [4|11]
[5|5] [5|6] [5|7] [5|8] [5|9] [5|10] [5|11]
[6|6] [6|7] [6|8] [6|9] [6|10] [6|11]
[7|7] [7|8] [7|9] [7|10] [7|11]
[8|8] [8|9] [8|10] [8|11]
[9|9] [9|10] [9|11]
[10|10] [10|11]
[11|11]

In [21]:
for number in range(100):
  if  number==29:
    break
  print(number, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28

Continue statement

Extremely Basic URI

In [24]:
A = int(input())
B = int(input())
x = A + B
print("X = %i"% x)

1
2
X = 3

In [25]:
A = int(input())
B = int(input())
x = A + B
print("X = %i"% x)

55
63
X = 118

In [27]:
A = int(input())
B = int(input())
x = A + B
print(x)

5566
655
6221

Area of a Circle URI

In [28]:
r = float(input())
pi = 3.14159
a = pi * (pow(r,2))
print("A=%.4f"% a)

123
A=47529.1151

Age in Days

In [29]:
A = int(input())
B = int(A/365)
C = int(A%365)
D = int(A/30)
E = A%30
print("%d ano(s)"%B)
print("%d mes(es)"%D)
print("%d dia(s)"%E)

99
0 ano(s)
3 mes(es)
9 dia(s)