<a href="https://colab.research.google.com/github/abdullah2643/CSE234_191-15-2643_Fall-20_Python/blob/main/Week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Polymorphism in Class Methods**

In [5]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Mukit")

In [6]:
class Mouse:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a Mouse. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Mukit")

**Create object**

In [7]:
cat1 = Cat("tom", 2.5)
mouse1 = Mouse("jerry", 4)

In [8]:
for animal in (cat1, mouse1):
    animal.make_sound()
    animal.info()
    animal.make_sound()

Mukit
I am a cat. My name is tom. I am 2.5 years old.
Mukit
Mukit
I am a Mouse. My name is jerry. I am 4 years old.
Mukit

**Error and exception handling**

In [9]:
def add(n1, n2):
  print(n1+n2)

In [10]:
add(20,20)

40

In [11]:
number1=10

number2=input("please provide a number: ")

add(number1,number2)
print("add done!")

please provide a number: 4

TypeError: ignored

**Exception handling**

In [12]:
try:
  result = 10+'10'
except:
  print(f'Hey! its looks like you are not adding correctly!')

Hey! its looks like you are not adding correctly!

In [13]:
try:
  result = 10+30
except:
  print(f'Hey! its looks like you are not adding correctly!')
else:
  print(f'add went well')
  print(f'sum is: {result}')

add went well
sum is: 40