<a href="https://colab.research.google.com/github/abdullah2643/CSE234_191-15-2643_Fall-20_Python/blob/main/Week_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating list

In [23]:
lst0=[4,1,2,3.2,223,"Mukit","Abdullah",[1,12,33,44]]
print(lst0)
lst1=[]
print(lst1)
lst2=list()
print(lst1)

[4, 1, 2, 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44]]
[]
[]

**Iterating list**

In [24]:
lst0=[4,1,2,3.2,223,"Nobin","Rasel",[1,12,33,44]]
for i in lst0[6]:
    print(i,end=' ')
print('')

R a s e l

In [25]:
lst0=[4,1,2,3.2,223,"Nobin","Rasel",[1,12,33,44]]
print(lst0[-5])
print(lst0[-3])
print(lst0[7])
print(lst0[0])

3.2
Nobin
[1, 12, 33, 44]
4

**List operations**

In [26]:
lst0=[4,1,2,4,3.2,223,"Mukit","Abdullah",[1,12,33,44]]

print(len(lst0))

lst0.append([133,232,132,200])
print(lst0)

lst0.insert(4,"pandas")
print(lst0)

lst0.remove(4)
print(lst0)
print(lst0.index("Abdullah"))

print(lst0.count('pandas'))

print(lst0.reverse())

lst1=lst0.copy()
print(lst1)

lst0.clear()
print(lst0)

9
[4, 1, 2, 4, 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44], [133, 232, 132, 200]]
[4, 1, 2, 4, 'pandas', 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44], [133, 232, 132, 200]]
[1, 2, 4, 'pandas', 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44], [133, 232, 132, 200]]
7
1
None
[[133, 232, 132, 200], [1, 12, 33, 44], 'Abdullah', 'Mukit', 223, 3.2, 'pandas', 4, 2, 1]
[]

In [31]:
lst0=[4,1,2,3.2,223,"Mukit","Abdullah",[1,12,33,44]]

print(lst0[0:8])
print(lst0[5:])
print(lst0[:6])
print(lst0[:])

[4, 1, 2, 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44]]
['Mukit', 'Abdullah', [1, 12, 33, 44]]
[4, 1, 2, 3.2, 223, 'Mukit']
[4, 1, 2, 3.2, 223, 'Mukit', 'Abdullah', [1, 12, 33, 44]]

**list sorting**

In [28]:
lst2=[2,3,4,56,77,323,456,6888,9]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[2, 3, 4, 9, 56, 77, 323, 456, 6888]
[2, 3, 4, 56, 77, 323, 456, 6888, 9]
[2, 3, 4, 9, 56, 77, 323, 456, 6888]

**Creating tuple**

In [32]:
tp0=(4,1,2,3.2,223,"Abdullah","Mukit",[1,12,33,44])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(4, 1, 2, 3.2, 223, 'Abdullah', 'Mukit', [1, 12, 33, 44])
()
()

**Iterating tupleX**

In [33]:

tp0=(4,1,2,3.2,223,"Abdullah","Mukit",[1,12,33,44])
print(tp0[-5])
print(tp0[-3])
print(tp0[3])
print(tp0[5])

3.2
Abdullah
3.2
Abdullah

**Unpacking sequences**

In [34]:
lst=[23,3.4,45,432]
a,b,c,d=lst
print(a)
print(b)
print(c)
print(d)

23
3.4
45
432

In [35]:
tp=(23,3.4,45,432)
a,b,c,d=tp
print(a)
print(b)
print(c)
print(d)

23
3.4
45
432